<div class="row">
	<div>
		<form method="post">
		<h2>Add a new Breed</h2>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="name">
		</div>	
		<button type="submit" class="btn btn-success">Submit</button>			
		</form>
	</div>
</div> 